<div div="wls-container">
	<div class="company_full">
	    <strong>Name:</strong> {{name}}<br/>
	    <strong>Ticker:</strong> {{ticker}}<br/>
	    <strong>Year 1:</strong> {{year1}}<br/>
	    <strong>Year 2:</strong> {{year2}}<br/>
	    <strong>Year 3:</strong> {{year3}}<br/>
	    <strong>Year 4:</strong> {{year4}}<br/>
	    <strong>Year 5:</strong> {{year5}}<br/>
	</div>
</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Company</a>
